a:hover:not(.tooltipped), a:visited, a:visited {
    text-decoration: none;
    color: inherit;
}

/* Start - Navbar chico y grande parecidos */
nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.tabs.tabs-transparent .tab a {
    color: white;
    text-transform: unset;
}

/* End - Navbar chico y grande parecidos */

/* Start - Scrollspy más grande */
.row .pushpin li a {
    font-size: 1.1rem;
}

/* .tabs-content.carousel .carousel-item { height: 50%; } */



.table-of-contents {
    padding-top: 8rem;
}

.pushpin.pinned {
    max-width: calc(100%/6 + 3%);
}

/* End - Scrollspy más grande */

/* Start - Tabs Feed | Full Story alineadas a la derecha */
.tabs.cinchar-derecha {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (min-width: 602px) and (max-width: 992px) {
    .cinchar-derecha .tab {
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
}
.tabs-content.carousel.carousel-slider{
    height: auto;
    min-height: auto;
}
.carousel.carousel-slider .carousel-item {
    height: auto;
    min-height: auto;
    position: relative;    
}


/* End - Tabs Feed | Full Story alineadas a la derecha */

/* Start - Layout y Styling de Home Cards */
.card .card-image .card-title {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}

.card .card-content {
    padding: 0 24px 0 24px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container a {
    flex-grow: 0;
    flex-shrink: 0;
}

/* En pantallas grandes, 3 por fila */
@media (min-width: 993px) {

    .card-container a {
        flex-basis: 30%;
        margin: 1%;
    }
}

/* En pantallas medianas, 2 por fila */
@media (min-width: 602px) and (max-width: 992px) {
    .card-container a {
        flex-basis: 47%;
        margin: 1%;
    }
}

/* En pantallas chicas, 1 por fila */
@media (max-width: 601px) {
    .card-container {
        justify-content: center;
    }

    .card-container a {
        flex-basis: 85%;
    }
}

/* End - Layout y Styling de Home Cards */

/* Start - Parallax Chapita */
.parallax-container .bandera {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

@media (min-width: 993px) {
    .parallax-container {
        height: 90vh;

    }
}

@media (max-width: 992px) {
    .parallax-container {
        height: 100vh;
    }
}

/* End - Parallax Chapita */

/* Para que las listas estén espaciadas */
ul:not(#nav-mobile) li:not(:first-child) {
    margin-top: 5px;
}

/* Footer */
.footer-row{
    display: flex;
}
@media (min-width: 602px) {
    .footer-row {
        flex-direction: row;
    }
}

@media (max-width: 601px) {
    .footer-row {
        flex-direction: column;
    }
}
.footer-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex: 1 1 0;
}
.footer-column>*{
    margin: 1rem;
}
.footer-column>a, .footer-column>.twitter-follow-button{
    align-self: center;
}