/* @media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 5rem;
    }
} */

nav ul a:hover {
    background-color: rgba(0,0,0,0);
}

.tabs.tabs-transparent .tab a {
    color: white;
    text-transform: unset;
}

.row .pushpin li a {
    font-size: 1.3rem;
}
